button{
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
    color: rgb(230, 230, 230);
}
canvas.grid{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10000px;
    height: 10000px;
    background-size: 35px 35px;
    background-image:
        linear-gradient(to right, rgb(54, 54, 54) 2px, transparent 2px),
        linear-gradient(to bottom, rgb(54, 54, 54) 2px, transparent 2px);
    background-color: #23272A;
}
::-webkit-scrollbar{
    background-color: rgba(0,0,0,0);
    height: 0px;
    width: 0px;
}
.copybutton{
    margin: 0px,0px,0px,0px;
    padding: 0px,0px,0px,0px;
    border: 0px;
    float:right;
}
.svgiconmini{
    margin: 0px,0px,0px,0px;
    padding: 0px,0px,0px,0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
.contextmenu{
    position: absolute;
    z-index: 10;
    width: 200px;
    max-height: 300px;
    padding-bottom: 6.25px;
    background-color: #2C2F33;
    box-shadow: 0 0 50px 5px #191b1d;
    filter: opacity(0%);
    transition-property: filter;
    transition-duration: 0.2s;
    text-align: center;
    border-radius: 5px;
}
.toolbar{
    z-index: 11;
    width: 100%;
    height: 30px;
    position: fixed;
    background-color: rgb(54, 54, 54);
    margin: none;
    padding: none;
    top:0px;
    left: 0px;
}
.toolbar button{
    width: 55px;
    height: 80%;
    margin: 1.5px 1.5px 1.5px 1.5px;
    background-color: #383c41;
    transition: background-color 0.05s linear;
    border: none;
    border-radius: 5px;
}
.toolbar button:hover{
    transition: background-color 0.05s linear;
    background-color: #16181a;  
}
.cbutton{
    width: 187.5px;
    height: 40px;
    margin-top: 6.25px;
    text-align: left;
    border-radius: 5px;
    border: none;
    background-color: #383c41;
    transition: background-color 0.15s linear;
}
.cbutton:hover{
    background-color: rgb(121, 45, 243);
    transition: background-color 0.15s linear;
}
.box{
    display: flex;
    background-color: rgb(54, 54, 54);
    position: absolute;
    width: 200px;
    height: 500px;
    z-index: 8;
}
.boxlabel{
    width: 200px;
    height: 500px;
    z-index: 9;
}
.dropdown{
    background-color: rgb(54, 54, 54);
    position: fixed;
    width: 200px;
    height: 500px;
    z-index: 11;
}
.event{
    position: fixed;
    
    transition: top 0.5s linear;
    transition: left 0.5s linear;
}